# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Question2.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Dejik Concepts\Desktop\JALA\JALA Academy\IntroductionToClass\Question2\.idea\.idea.Question2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
