# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Question2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Dejik Concepts\Desktop\JALA\JALA Academy\PropertiesQuestion\Question2\.idea\.idea.Question2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
