# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IntroductionToClass.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dejik Concepts\Desktop\JALA\JALA Academy\IntroductionToClass\.idea\.idea.IntroductionToClass\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
